# Python __pycache__ & compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
*.env

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmp
